<?xml version="1.0" encoding="UTF-8"?>
<NetCheckerConfig version="3">
  <Settings timeout="2000"/>
  <Destinations>
    <Destination name="TEST" ip="192.168.25.1" type="DC">
      <Ports>
        <Port port="53" protocol="TCP" enabled="1"/>
        <Port port="88" protocol="TCP" enabled="1"/>
        <Port port="135" protocol="TCP" enabled="1"/>
        <Port port="139" protocol="TCP" enabled="1"/>
        <Port port="389" protocol="TCP" enabled="1"/>
        <Port port="445" protocol="TCP" enabled="1"/>
        <Port port="464" protocol="TCP" enabled="1"/>
        <Port port="636" protocol="TCP" enabled="1"/>
        <Port port="3268" protocol="TCP" enabled="1"/>
        <Port port="3269" protocol="TCP" enabled="1"/>
        <Port port="5985" protocol="TCP" enabled="1"/>
        <Port port="5986" protocol="TCP" enabled="1"/>
        <Port port="9389" protocol="TCP" enabled="1"/>
        <Port port="53" protocol="UDP" enabled="0"/>
        <Port port="88" protocol="UDP" enabled="0"/>
        <Port port="389" protocol="UDP" enabled="0"/>
        <Port port="464" protocol="UDP" enabled="0"/>
      </Ports>
    </Destination>
  </Destinations>
</NetCheckerConfig>
